{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "targets": {
          "node": "current"
        },
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-optional-chaining",
    [
      "@babel/plugin-transform-spread",
      {
        "loose": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-runtime", "@babel/plugin-proposal-optional-chaining"]
    }
  }
}
